html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f6f0e7;
}

.offline .interstitial-wrapper {
  margin: 0;
  max-width: none;
  width: 100%;
  height: 100%;
  padding-top: 0;
}

#main-content {
  display: none;
}

#offline-resources {
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.offline .runner-container,
.offline .runner-canvas {
  top: 0;
  max-width: none;
}
